.grid-container {
  margin: auto;

  width: 70vmin;
  height: 70vmin;
  gap: 1%;
}

.grid-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
}
